{% extends 'base.html' %} {% block content %}
<div style="width: 80%; margin: auto">
  <h2>Completed Tasks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.taskTitle }}</td>
        <td>{{ task.taskDescription }}</td>

        <td>
          {% if task.is_complete %} Completed {% else %} Incomplete {% endif %}
        </td>

        <td>
          <a
            href="{% url 'edit_task' task_id=task.id %}"
            class="btn btn-warning btn-sm"
            >Edit</a
          >
          <a
            href="{% url 'delete_task' task_id=task.id %}"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
          <a
            href="{% url 'complete_tasks' task_id=task.id %}"
            class="btn btn-success btn-sm"
            >Complete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
